//- content structure
#content
    include apppreloader.pug
    include ../tutorialmodule/tutorialframe.pug
    include ../globalviewmodule/globalviewframe.pug
    include ../exchangemodule/addexchangeframe.pug
    include ../exchangemodule/exchangeoverviewframe.pug
