//- content structure
#content
    include apppreloader.pug
    include ../lockedframemodule/lockedframe.pug
    include ../tutorialmodule/tutorialframe.pug
    include ../globalviewmodule/globalviewframe.pug
    include ../addexchangemodule/addexchangeframe.pug
    include ../viewexchangemodule/exchangeoverviewframe.pug
    include ../addcontrollermodule/addcontrollerframe.pug
    include ../viewcontrollermodule/controlleroverviewframe.pug