#tutorialframe 
    h1 Welcome to the Asset Flow Control System 
    p You read this because you donot have a key available yet.    
    #tutorial-configure-key-button.click-button Set Key
    p After you have set your key, please use the settings menu on the top-right (
        svg#sample-settings-icon: use(href="#svg-settings-icon")
        |  ) to manage the connection with your bot.
    p Make sure that yor backend server is configured correctly ;-)
    p.wish-paragraph Happy botting!