#tutorialframe 
    h1 Welcome to the Asset Flow Control System 
    p You read this because the UI does not have any key available yet.    
    #tutorial-configure-key-button.click-button Set Key
    p To access the acount settings later, please use the settings menu on the top-right (
        svg#sample-settings-icon: use(href="#svg-settings-icon")
        |  ).
    p Also: Make sure that yor backend server is configured correctly ;-)
    //- p.wish-paragraph Happy botting!