//- input structure
#phraseunlock-frame
    .click-catcher
        #phraseunlock-close-button.click-button: svg: use(href="#svg-cross-icon")
    .phraseunlock-container
        h2 Unlock With Secret Phrase
        input#phraseunlock-input(type="password" name="secret-phrase")
        .button-row 
            #unlock-button.click-button.flashy-button Unlock 
            #cancel-unlock-button.click-button.flashy-button Cancel 


