include ../settingsmodule/setting-mixins.pug

+settings-page("account", "Account")
    include ../accountsettingsmodule/accountsettings.pug
+settings-page("backend", "Backend Server")
    include ../backendsettingsmodule/backendsettings.pug
