//- hidden content
include ../svgiconsmodule/svgicons.pug
include ../qrdisplaymodule/qrdisplay.pug
include ../messageboxmodule/messagebox.pug
include ../qrreadermodule/qrreader.pug
include ../inputmodule/phraseinput.pug
include ../unlockmodule/phraseunlock.pug
include ../settings/allsettingspages.pug
include ../usermodalmodule/usermodals.pug


//- real content 
include ../header/header.pug
include ../settingsmodule/settingsandcontent.pug