//- functiontester structure
#functiontester
    #test-regular-operations-container
        button#latest-orders-button.click-button getLatestOrders
        button#latest-tickers-button.click-button getLatestTickers
        button#latest-balances-button.click-button getLatestBalances

    #display-regular-operations-response-container