//- lockedframe structure
#lockedframe
    #big-lock-symbol: svg: use(href="#svg-lock-icon")

    h1 Your Key is Locked
    #locked-options-row.button-box
        #locked-unlock-button.click-button.flashy-button.icon-n-label
            svg: use(href="#svg-unlock-icon")
            .label Unlock

        #locked-delete-button.click-button.danger-button.icon-n-label
            svg: use(href="#svg-trash-icon")
            .label Delete
