//- input structure
#phraseinput-frame
    .click-catcher
        #phraseinput-close-button.click-button: svg: use(href="#svg-cross-icon")
    .phraseinput-container
        h2 Secret Phrase for Protection
        input#phraseinput(type="password" name="secret-phrase").dark-input
        .button-box 
            #accept-phrase-button.click-button.flashy-button Okay 
            #cancel-phrase-button.click-button.flashy-button Cancel 


