.hidden-templates
    #controller-display-entry-template-container 
        li.controller-display-entry.entry-box
            .controller-display-label {{{name}}}
            .controller-display-state {{{currentState}}}
            // additional summary fields:
            // profit?...
            .controller-overview-button.click-button.flashy-button.icon-n-label
                svg: use(href="#svg-chevron-right-icon")
                .label Manage


#exchangeoverview-frame 
    #exchange-display 
        svg#exchange-icon-display: use(href="")
        #exchange-name-display.label

    #exchange-evaluation-display
        #exchange-evaluation-number 
        #exchange-evaluation-unit 

    #exchange-evaluation-history-display 
        #exchange-evaluation-history 

    #exchange-distribution-display
        #exchange-distribution

    ul#controller-display

    #add-controller-button.click-button.flashy-button.icon-n-label
         svg: use(href="#svg-add-icon")
         .label Add Controller