#exchangeoverview-frame 

    #exchange-display 
        svg#exchange-icon-display: use(href="")
        #exchange-name-display.label

    #exchange-evaluation-display
        #exchange-evaluation-number 
        #exchange-evaluation-unit 

    #exchange-distribution-display
        #exchange-distribution-pie
        ul#exchange-distribution-assets

    ul#controller-display
        li.controller-display-entry.entry-box
            .controller-display-label Master Controller 1
            .controller-display-state Level 2
            .controller-display-profit Profit: + 3.4€ | + 0.002ETH
            .controller-overview-button.click-button.flashy-button.icon-n-label
                svg: use(href="#svg-chevron-right-icon")
                .label Manage
        li.controller-display-entry.entry-box
            .controller-display-label Master Controller 2
            .controller-display-state Level 5
            .controller-overview-button.click-button.flashy-button.icon-n-label
                svg: use(href="#svg-chevron-right-icon")
                .label Manage

    #add-controller-button.click-button.flashy-button.icon-n-label
         svg: use(href="#svg-add-icon")
         .label Add Controller