//- exchange structure
#addcontroller-frame 

    h1 Choose your Controller to Add
    select#controller-select
        //- option(value="kraken") Kraken
        //- option(value="binance") Binance  

    #addcontroller-conclusion-row 
        #addcontroller-use-button.click-button.flashy-button.disabled
            .label Use
        #addcontroller-cancel-button.click-button.flashy-button 
            .label Cancel
