//- usermodal structure
#deleteconfirmation.usermodal
    .click-catcher
    .modal-container
        .modal-header 
            h2.modal-header-title Attention!
            .modal-close-button.click-button: svg: use(href="#svg-cross-icon")
        .modal-content
        .modal-actions
            .modal-accept-button.click-button Delete
            .modal-cancel-button.click-button No!