input#backend-server-input(type="text")
#backend-server-works-indicator Server is ready
#backend-server-button-container
    #backend-server-ok-button.click-button Okay
    #backend-server-reset-button.click-button Reset
p#backend-server-explaination-text This is the Server used that both ends would know eachother - it must be compatible with our API.<br><br><link-to-API-doc>